<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

        <title th:replace ="fragments/frag :: css"></title>
        
    </head>

<body>
    <div id="wrapper">
        <!--navigation-->
        <div th:replace="fragments/frag :: nav"></div>
        <div id="page-wrapper">

                <div class="container-fluid s_pageWrap">

                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header">
                               Holiday
                                <!--<small>Spice 1</small>-->
                            </h2>
                            <ol class="breadcrumb">
                                <li>
                                    <i class="fa fa-dashboard"></i>  <a href="index.html">Home</a>
                                </li>
                                <li class="active">
                                   <i class="fa fa-gears"></i> <a href="#"> Holiday</a>
                                </li>
                            </ol>
                        </div>
                            

                        <div class="col-lg-12">
                            <div class="panel panel-default">
<!--                                <div class="panel-heading">
                                    Record List
                                </div>-->
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    
                                    <!-------------- CONTENT ------------------>
                                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-userlist">
                                        <thead>
                                            <tr class="success">
                                                <th width="60%">Holiday Names</th>
                                                <th>Assign Date</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="tempData : ${phDataList}">
                                                <td th:text="${tempData.Name}"></td>
                                                <td th:text="${tempData.pdDate}"></td>
                                                <td><button type = "button" class = "btn btn-danger col-xs-12"
                                                    data-toggle="modal" data-target="#deletePop"
                                                    th:onclick="'vaDelete('+${tempData.PublicHolidayID}+')'">DELETE</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                    
                                    <!---------------- END CONTENT --------------->
                                    
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            
                        <div class="row">
                            <div class="col-md-12">
                                <button type = "button" class="btn btn-success col-md-2 col-xs-12 pull-right" onClick="location.href='../operations/holiday.html'"  >CREATE HOLIDAY</button>
                            </div>
                        </div>
                            <br/>
                            
                        </div>
                       
                        
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container-fluid -->

        </div>
            <!-- /#page-wrapper -->
    </div>
    
    <!--get ID's hidden-->
    <input type='hidden' id="tmpGetID" name="tmpGetID" />
    
    <!--MODAL SECTION--> 
    <div class="modal fade" id="SavePop" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Alert</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <span>
                            Save Successful!
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                    <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!--end MODAL SECTION--> 
    
    <!--MODAL SECTION Save pop--> 
    <div class="modal fade" id="AddGroup" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Access Group</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">

                        <div style="max-height: 200px; overflow:auto;">
                            <table  class="table-striped table-hover" width="100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Door Group 1
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">  Door Group 2
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                                           


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Apply</button>
                </div>
            </div>
        </div>
    </div>
    <!--end MODAL SECTION--> 
    
    
    <!--VALIDATE DELETE OR NOT--> 
    <div class="modal fade" id="deletePop" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Alert!</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <span>
                            Delete this record?
                            <input type='hidden' id="getID" name="getID">
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick='deleteRecord()'>DELETE</button>
                </div>
            </div>
        </div>
    </div>
    
    
    <!--TIMER-->
    <span id="SecondsUntilExpire"></span>    
    
    <!-- /#wrapper -->
    <!-- script -->
    <div th:replace ="fragments/frag :: script"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/
            $(document).ready(function(){
                    
                    fnTimer();
                    
                      $('#dataTables-recordList').DataTable({
                            responsive: true,
                             "bLengthChange" : false //thought this line could hide the LengthMenu
                        });
//                 alert("Hello!");
                
            });
            
               function vaDelete(x) {
//                   console.log("Delete this row and the ID is:" + x);
                   $('#tmpGetID').val(x);
                   $('#getID').val(x);
                }

                 function deleteRecord() {
                    var thisNatId = document.getElementById("getID").value;
                     console.log(thisNatId);
                     
                    
                    
//                                        console.log(thisNatId);
//                     OperationDwr.deleteNat(thisNatId, function(){
//                          window.location.reload();
//                     });
//                     
                       try{
                        OperationDwr.deleteHoliday(thisNatId, function (data) {
                            
                            alert("Delete Successful"); 
                            window.location.reload();
                            
                            //location.href = '../operations/holidayTbl.html';
                            
                        });
                        }catch(err){
                            console.log("DWR-saveHoliday:ERROR:"+err)
                        }
                        
                     
                     
                     

                }
           
        /*]]>*/
    </script>

    <!-- end script -->
</body>

</html>
