<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

        <title th:replace ="fragments/frag :: css"></title>
        
         <!--CSS inline code--> 
        <style>
            .cardDisable {
                color:#eeeeee;
            }
            
        </style>
        
        
    </head>

<body>
    <!--<input type="hidden" id="staffId" th:value="${staff.staffId}"/>-->
    <input type="hidden" id="staffId" th:value="${staffId}">
    <!--<input type="hidden" id="staffId" th:value="${staff.StaffID}" />-->
    
    
    <input type="hidden" id="staffID_" th:value="${staffRecordOne.StaffID}">
    <input type="hidden" id="personID_" th:value="${staffRecordOne.PersonID}">
    <input type="hidden" id="systemUserID_" th:value="${staffRecordOne.SystemUserID}">
    
    
    <div id="wrapper">
        <!--navigation-->
        <div th:replace="fragments/frag :: nav"></div>
        <div id="page-wrapper">

                <div class="container-fluid s_pageWrap">

                    <!-- Page Heading -->
                    <div class="row">
                            <div class="col-lg-12">
                                <h2 class="page-header">
                                   User Management
                                    <!--<small>Spice 1</small>-->
                                </h2>
                                <ol class="breadcrumb">
                                    <li>
                                        <i class="fa fa-dashboard"></i>  <a href="index.html">Home</a>
                                    </li>
                                    <li>
                                            <i class="fa fa-list"></i> <a href="userMgmtTable.html">Management List</a>
                                    </li>
                                    <li class="active">
                                         <i class="fa fa-edit fa-fw"></i> <a href="#">User Management</a>
                                    </li>
                                </ol>
                            </div>
                        
                        <div class="col-md-12">
                             <div class="mandatorytext">
                                 <span>All with (*) are mandatory</span>
                             </div>
                         </div>
                        
                        <div class="row s_row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    
                            <!--    <form data-toggle="validator" role="form"> -->
                                    
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <h2 id="grid-nesting">
                                                Information
                                            </h2>
                                        </div> 
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="txtlabel">First Name<span class="mandatory">*</span></label>
                                                        <!--<input type="text" class="form-control" id="fname" name="fname" placeholder="" th:value="${getFirstName}" maxlength='30' required>-->
                                                        <input type="text" class="form-control" id="fname" name="fname" placeholder="" th:value="${staffRecordOne.FirstName}" maxlength='30' required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="txtlabel">Last Name<span class="mandatory">*</span></label>
                                                        <!--<input type="text" class="form-control" id="lname" name="lname" th:value="${getLastName}"  placeholder="" maxlength='30' required>-->
                                                        <input type="text" class="form-control" id="lname" name="lname" th:value="${staffRecordOne.LastName}"  placeholder="" maxlength='30' required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group numberTextBox">
                                                        <!--GET THE STAFF NUMBER-->
                                                        <label for="txtlabel">Staff No.<span class="mandatory">*</span></label>
                                                        <!--<input type="text" class="form-control" id="idNumber"  name="idNumber"   placeholder="" maxlength='30' required>-->
                                                        <input type="text" class="form-control" id="idNumber"  name="idNumber" th:value="${staffRecordOne.StaffNumber}"  placeholder="" maxlength='30' required>
                                                    </div>
                                                </div>
<!--                                                 <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="txtlabel">Middle Name</label>
                                                        <input type="text" class="form-control" id="txtlabel" placeholder="">
                                                    </div>
                                                </div>-->
                                                 
                                            </div>


                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <div class="form-group numberTextBox">
                                                        <label for="txtlabel">Mobile Number<span class="mandatory">*</span></label>
                                                        <!--<input type="text" class="form-control" id="mobileNum" name="mobileNum" th:value="${getMobilePh}"  onkeypress="return isNumber(event)"  maxlength='8' placeholder="" required>-->
                                                        <input type="text" class="form-control" id="mobileNum" name="mobileNum" th:value="${staffRecordOne.MobilePh}" onkeypress="return isNumber(event)"  maxlength='8' placeholder="" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="txtlabel">Email Address<span class="mandatory">*</span></label>
                                                        <!--<input type="email" class="form-control" id="email" name="email" placeholder=""  th:value="${getEMailAddress}"  data-error="Email address is invalid" required >-->
                                                        <!--<input type="email" class="form-control" id="email" name="email" placeholder="" th:value="${getEMailAddress}" pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"  required >-->
                                                        <input type="email" class="form-control" id="email" name="email" placeholder="" th:value="${staffRecordOne.EMailAddress}" pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"  required >
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        
                                                        <label for="txtlabel">Activation Date/Time<span class="mandatory">*</span></label>
                                                         <div class="form-group">
                                                            <div class="input-group date" id="datetimepicker6">
                                                                <!--<input type="text" class="form-control" id="StartDate" name="StartDate" th:value="${getCardIssueDate}" required>-->
                                                                <input type="text" class="form-control" id="StartDate" name="StartDate" th:value="${staffRecordOne.ActiveDate}" required>
                                                                <!--<input type="text" class="form-control" id="StartDate" name="StartDate" required>-->
                                                                <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="txtlabel">Expiration Date/Time<span class="mandatory">*</span></label>
                                                        <div class="form-group">
                                                            <div class='input-group date' id='datetimepicker7'>
                                                                <!--<input type='text' class="form-control" id="EndDate" name="EndDate"  th:value="${getCardExpiryDate}" required>-->
                                                                <input type='text' class="form-control" id="EndDate" name="EndDate"  th:value="${staffRecordOne.ExpiryDate}" required>
                                                                <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <div class="form-group numberTextBox">
                                                        <label for="txtlabel">PIN Number<span class="mandatory">*</span></label>
                                                        <!--<button type="submit" class="btn btn-primary btn-sm">S</button>-->
                                                        <input type="password" class="form-control" id="pinNumber" name="pinNumber" placeholder="" required>
<!--                                                        <div class="input-group">
                                                            <div class="icon-addon">
                                                                <input type="number"class="form-control" placeholder="" required>
                                                            </div>
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-warning glyphicon glyphicon-refresh" type="button"></button>
                                                            </span>
                                                        </div>-->
                                                        
                                                    </div>
                                                </div>
                                                <!--If have Staff ID AutoPopulated Data-->
                                                <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="txtlabel">Card<span class="mandatory">*</span></label>
                                                            <select class="form-control" name="optCard" id="optCard" >
                                                                <option value="0" >-- Please Select Card --</option>
                                                                <!-- selected Data -->
                                                                <option th:each="recData : ${cardDataList}" th:value="${recData.CardID}" th:text="${recData.CardNo}" th:disabled="${recData.CardStatusID!=1 && recData.CardID!=staffRecordOne.CardID}"  th:selected="${recData.CardID==staffRecordOne.CardID}" ></option>
                                                            </select>
                                                        </div>
                                                            
                                                </div>
<!--                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="txtlabel">Note</label>
                                                        <input type="text" class="form-control" id="txtlabel" placeholder="">
                                                    </div>
                                                </div>-->

                                                <!--IF ALREADY HAVE VALUE son-->
                                                <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="txtlabel">Designation<span class="mandatory">*</span></label>
                                                            <select class="form-control" name="optDesignation" id="optDesignation">
                                                                <option value="0">-- Please Select Designation --</option>
                                                                <option th:each="recData : ${designationDataList}" th:value="${recData.DesignationId}"  th:text="${recData.Name}"  th:selected="${recData.DesignationID==staffRecordOne.DesignationID}" ></option>
                                                            </select>
                                                        </div>
                                                            
                                                </div>
                                            </div>

                                        </div>
                                  
                                    </div><!-- end panel body information -->
                                    
                                    <!-- Permission list -->
                                    <div class="panel-body" style="border-top:1px solid #eeeeee; border-bottom:1px solid #e7e7e7;">
                                        <div class="col-md-12">
                                            <h2 id="grid-nesting">
                                               Door Permission List
                                            </h2>
                                        </div>  
                                        
                                        <div class="col-md-12">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr class="success">
                                                        <!--<th width="10%">No.</th>-->
                                                        <th>Group Name</th>
                                                        <th width="10%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="doorPermissionList">
                                                    
                                                    
<!--                                                    doorPermissionList
                                                    <tr >
                                                        <td>1</td>
                                                        <td>Door Group one</td>
                                                        <td><button type = "button" class = "btn btn-danger">REMOVE</button></td>
                                                    </tr>-->
                                                    
                                                    
<!--                                                    <tr>
                                                        <td>2</td>
                                                         <td>Door Group one</td>
                                                        <td><button type = "button" class = "btn btn-danger">Remove</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                          <td>Door Group Three</td>
                                                        <td><button type = "button" class = "btn btn-danger">Remove</button></td>
                                                    </tr>-->


                                                </tbody>
                                            </table>
                                            
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="button" class="btn btn-primary col-md-2 col-xs-12 pull-right" data-toggle="modal" data-target="#AddGroup">ADD</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end permission list -->
                                    
                                    
                                     <!-- Web Access -->
                                     <div class="panel-body">
                                        <div class="col-md-12">
                                                <h2 id="grid-nesting">
                                                    Web Access
                                                </h2>
                                        </div>  
                                         <div class="row">
                                            <div class="container-fluid">
                                                <div class="col-md-12">
                                                    <div class="form-check pull-left checkBoxWeb" style="margin:5px 5px;">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input checkboxtext" type="checkbox" id="inlineCheckbox1" style="outline:none;" th:checked="${staffRecordOne.SystemUserID}!=0"> 
                                                               &nbsp;  Enable Web Access
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                         
                                        <div class="col-md-12">
                                            <div class="col-md-3">
<!--                                                <div class="form-group">
                                                    <label for="txtlabel">System ID<span class="mandatory">*</span></label>
                                                    <input type="text" class="form-control" id="txtlabel" placeholder="">
                                                </div>-->
                                                 <div class="form-group" >
                                                    <label for="txtlabel">System User<span class="mandatory">*</span></label>
                                                    <select class="form-control clWebAccess" id="systemId" name="systemId" disabled>
                                                        <option value="0">-- Select System User --</option>
                                                        <option th:each="recData : ${userTypeDataList}" th:value="${recData.SystemUserTypeID}" th:text="${recData.Name}" th:selected="${recData.SystemUserTypeID==staffRecordOne.UserType}" ></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="txtlabel">Log ID<span class="mandatory">*</span></label>
                                                    <input type="text" class="form-control clWebAccess" id="LogId" name="LogId" placeholder="" disabled th:value="${staffRecordOne.UserID}" >
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="txtlabel">Password<span class="mandatory">*</span></label>
                                                    <input type="password" class="form-control clWebAccess" id="password"  name="password" placeholder="" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="txtlabel">Confirm Password<span class="mandatory">*</span></label>
                                                    <input type="password" class="form-control clWebAccess" id="confirmPass" name="confirmPass" placeholder="" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     <!--End Web Access -->
                                    
                                 
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <button   class="btn btn-success col-md-2 col-xs-12 pull-right" onclick="saveStaffInfo('1')">SAVE</button>
                                        <!--<button   class="btn btn-success col-md-2 col-xs-12 pull-right" onclick="validation();">test Validation</button>-->
                                        <!--<button  type="submit" class="btn btn-success col-md-2 col-xs-12 pull-right" data-toggle="modal" data-target="#SavePop">Save</button>-->
                                    </div>
                                </div>
                              <!--  </form> -->   
                                
                                <br/>
                            </div>
                            
                        </div>
                        
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container-fluid -->

        </div>
            <!-- /#page-wrapper -->
    </div>
    
    
    <!--MODAL SECTION--> 
    <div class="modal fade" id="SavePop" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Alert</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <span>
                            Save Successful!
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                    <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!--end MODAL SECTION--> 
    
    <!--MODAL SECTION Save pop--> 
    <div class="modal fade" id="AddGroup" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Access Group</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">

                        <div style="max-height: 200px; overflow:auto;">
                            <table  class="table-striped table-hover" width="100%">
                                <tbody>
                                    <tr th:each="recData : ${doorListDataList}">
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                    <!--<input class="doorList" type="checkbox" th:id="'chkDoor_'+${recData.AccessPointId}" th:value="${recData.AccessPointId}" th:text="${recData.Name}" >-->
                                                    <input class="doorList" type="checkbox" th:id="'chkDoor_'+${recData.AccessPointGroupID}" th:value="${recData.AccessPointGroupID}" th:text="${recData.Name}" th:checked="${recData.StaffID}!=0" >
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>                                           


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="putCheckBoxToTable()" >Apply</button>
                </div>
            </div>
        </div>
    </div>
    <!--end MODAL SECTION--> 
    
    
    
    
    <!-- /#wrapper -->
    <!-- script -->
    <div th:replace ="fragments/frag :: script"></div>
   <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
           
            $('#inlineCheckbox1').click(function() {
               if (this.checked) {
                   $('input.clWebAccess').removeAttr("disabled"); 
                   $('select.clWebAccess').removeAttr("disabled"); 
               }else {
                   $('input.clWebAccess').attr("disabled", true);
                   $('select.clWebAccess').attr("disabled", true);
               }
            });
            
            
            var limit = 4;
            $('input:checkbox.doorList').on('click', function(evt) {
                
                var count = 0;
                $('input:checkbox.doorList').each(function () {
                    if(this.checked){
                        count++;
                    }
                });
                if(count > limit) {
                   this.checked = false;
                   alert("Max Limit Exceeded.");
                }
            });

            
            if($('#staffID_').val()!=0){
                putCheckBoxToTable();
            }
            if($('#systemUserID_').val()!=0){
                $('input.clWebAccess').removeAttr("disabled"); 
                $('select.clWebAccess').removeAttr("disabled"); 
            }
            
            
            var selectCount = 0;
            function getFloorAccessGroup(locIndicator){
                
//                OperationDwr.getAccessPoint(locIndicator, function (faGrpList) {
//                }
            }
            
        });
        
        
            function isNumber(evt) {
                console.log(evt);
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            }
            
            function isNumber(evt) {
//     evt = (evt) ? evt : window.event;
                    var charCode = (evt.which) ? evt.which : evt.keyCode;
                    var strnum = String.fromCharCode(evt.which);

                    var strvalue = document.getElementById("mobileNum").value;
                    var a = 9;
                    var b = 8;

                    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
//                                    console.log("You are trying to input LETTER");
                        $('#mobileNum').val('');
                        return false;
                    }
                    if (document.getElementById("mobileNum").value[0] != a && document.getElementById("mobileNum").value[0] != b) {
                        $('#mobileNum').val('');
//                                    return false;
//                                  console.log("you need to input 9 or 8 first!");
                    }
                    console.log(strvalue);
//                                    console.log(numlength);
                    return true;
                }

            
            
        
                
        
            function putCheckBoxToTable(){
                
                $("#doorPermissionList").empty();
                
                $('input:checkbox.doorList').each(function () {
//                    var sThisVal = (this.checked ? $(this).val() : "");
                    if(this.checked){
                        //$(this).val();
//                        $("input[name='PrePayment']")[0].nextSibling.nodeValue;
                        
//                        console.log("ID +"+ $(this).val());
//                        console.log("GROUP NAME: +"+$(this)[0].nextSibling.nodeValue);
                        
                        var id = $(this).val();
                        var text = $(this)[0].nextSibling.nodeValue;
                        
                        
                        console.log("====Id:" +id);
                        console.log("====Text:" +text);
                        
                        
//                        var htmlstr = "<tr><td>"+id+"</td><td>"+text+"</td><td><button type=\"button\" class=\"btn btn-danger\"  onclick=\"removeDoor("+id+")\"  >REMOVE</button></td></tr>";
                        var htmlstr = "<tr><td>"+text+"</td><td><button type=\"button\" class=\"btn btn-danger\"  onclick=\"removeDoor("+id+")\"  >REMOVE</button></td></tr>";
                        
                        
                        
                        
                        $("#doorPermissionList").append(htmlstr);
                        
                    }
               });
                
            }
            
            function removeDoor(id){
                $('#chkDoor_'+id).prop('checked', false);
                putCheckBoxToTable();
            }
            
            // EMAIL VALIDATION
//             $('#email').
               
        
            //   DATEPICKER START DATE
                $('#datetimepicker6').datetimepicker({ 
                    minDate:new Date(),
                    format: 'YYYY-MM-DD'
                });

                //DATEPICKER END DATE
                $('#datetimepicker7').datetimepicker({
                    minDate:new Date(),
                     format: 'YYYY-MM-DD',
                    useCurrent: false //Important! See issue #1075
                });
                
                //EMAIL VALIDATE 
                
                
                
//                //BOOTSTRAP VALIDATOR
                $("#datetimepicker6").on("dp.change", function (e) {
                    $('#datetimepicker6').bootstrapValidator('revalidateField', 'StartDate');
                    $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                });
                $("#datetimepicker7").on("dp.change", function (e) {
                    $('#datetimepicker7').bootstrapValidator('revalidateField', 'EndDate');
                    $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                });

       function validation() {
//           alert('HELLO!');
           
           //VALIDATION 
            //STAFF SECTION
            var fname = $('#fname').val();
            var lname = $('#lname').val();
            var idNumber = $('#idNumber').val();
            var mobileNum = $('#mobileNum').val();
            var email = $('#email').val();
            var StartDate = $('#StartDate').val();
            var EndDate = $('#EndDate').val();
            var pinNumber = $('#pinNumber').val();
            var optCard = $('#optCard').val(); // SELECT val = 0 
            var optDesignation = $('#optDesignation').val(); // SELECT val = 0 
            
            //WEB ACCESS 
            var inlineCheckbox1  = $('#inlineCheckbox1').val();
            var systemId  = $('#systemId').val(); // SELECT val = 0 
            var LogId  = $('#LogId').val();
            var password  = $('#password').val();
            var confirmPass  = $('#confirmPass').val();
            
            if (fname == "" && lname == "" && idNumber == ""){
                alert("Please Fill in all mandtory fields!")
                return;
            }else if(fname == ""){
                alert("Please Enter First Name")
                $('#fname').focus();
                return;
            }else if(lname == ""){
                alert("Please Enter Last Name")
                $('#lname').focus();
                return;
            }else if(idNumber == ""){
                alert("Please Enter Staff Number")
                $('#idNumber').focus();
                return;
            }else if(mobileNum == ""){
                alert("Please Enter Mobile Number")
                $('#mobileNum').focus();
                return;
            }else if(email == ""){
                alert("Please Enter Email Address")
                $('#email').focus();
                return;
            }else if(StartDate == ""){
                alert("Please Enter Start Date")
                $('#StartDate').focus();
                return;
            }else if(EndDate == ""){
                alert("Please Enter End Date")
                $('#EndDate').focus();
                return;
            }else if(pinNumber == ""){
                alert("Please Enter PIN Number")
                $('#pinNumber').focus();
                return;
            }else if(optCard == 0){
                alert("Please Select Available Card")
                $('#optCard').focus();
                return;
            }else if(optDesignation == 0){
                alert("Please Select Designation")
                $('#optDesignation').focus();
                return;
            }
//            var newPassword=$("#newPassword").val();
//            var confirmPassword=$("#confirmPassword").val();
       }


      function saveStaffInfo(smsFlag)
        {
           //VALIDATION 
            //STAFF SECTION
            var fname = $('#fname').val();
            var lname = $('#lname').val();
            var idNumber = $('#idNumber').val();
            var mobileNum = $('#mobileNum').val();
            var email = $('#email').val();
            var StartDate = $('#StartDate').val();
            var EndDate = $('#EndDate').val();
            var pinNumber = $('#pinNumber').val();
            var optCard = $('#optCard').val(); // SELECT val = 0 
            var optDesignation = $('#optDesignation').val(); // SELECT val = 0 
            
            //WEB ACCESS 
            var inlineCheckbox1  = $('#inlineCheckbox1').val();
            var systemId  = $('#systemId').val(); // SELECT val = 0 
            var LogId  = $('#LogId').val();
            var password  = $('#password').val();
            var confirmPass  = $('#confirmPass').val();
            
            if (fname == "" && lname == "" && idNumber == ""){
                alert("Please Fill in all mandtory fields!")
                return;
            }else if(fname == ""){
                alert("Please Enter First Name")
                $('#fname').focus();
                return;
            }else if(lname == ""){
                alert("Please Enter Last Name")
                $('#lname').focus();
                return;
            }else if(idNumber == ""){
                alert("Please Enter Staff Number")
                $('#idNumber').focus();
                return;
            }else if(mobileNum == ""){
                alert("Please Enter Mobile Number")
                $('#mobileNum').focus();
                return;
            }else if(email == ""){
                alert("Please Enter Email Address")
                $('#email').focus();
                return;
            }else if(StartDate == ""){
                alert("Please Enter Start Date")
                $('#StartDate').focus();
                return;
            }else if(EndDate == ""){
                alert("Please Enter End Date")
                $('#EndDate').focus();
                return;
            }else if(pinNumber == ""){
                alert("Please Enter PIN Number")
                $('#pinNumber').focus();
                return;
            }else if(optCard == 0){
                alert("Please Select Available Card")
                $('#optCard').focus();
                return;
            }else if(optDesignation == 0){
                alert("Please Select Designation")
                $('#optDesignation').focus();
                return;
            } 
            
            console.log("---------------------------------");
            console.log(smsFlag);
            console.log("---------------------------------");
            
            var gekIdArr = [];
            var ctr = 0;
            $('input:checkbox.doorList').each(function () {
                    if(this.checked){
                        var id = $(this).val();
                        gekIdArr[ctr]=id;
                        ctr++;
                }
           });
           
            var dataArray = [];
            
            dataArray[0] =$('#idNumber').val(); // Staff Number;
            dataArray[1] =$('#fname').val();
            dataArray[2] =$('#lname').val();
            dataArray[3] =$('#mobileNum').val();
            dataArray[4] =$('#email').val();
            dataArray[5] =$('#StartDate').val();
            dataArray[6] =$('#EndDate').val();
            dataArray[7] =$('#pinNumber').val();
            dataArray[8] =$('#optCard').val();
            dataArray[9] =$('#optDesignation').val();
            dataArray[10] =$('#staffID_').val();
            dataArray[11] =$('#personID_').val();
            
            
            
            var tamIdArr = [];
            var fpLRArr=[];
            
            fpLRArr[0] ="" //localStorage.getItem("fpTemplateL");
            fpLRArr[1] ="" //localStorage.getItem("fpImageL");

            fpLRArr[2] ="" //localStorage.getItem("fpTemplateR");
            fpLRArr[3] ="" //localStorage.getItem("fpImageR");

            fpLRArr[4] ="" //localStorage.getItem("lqt");
            fpLRArr[5] ="100" //localStorage.getItem("rqt");
            
            var photo='';
            var smsFlag=0;
            var accessTmeArr=[];
            
        
            var webAccess = [];
            webAccess[0] = $('#systemId').val();
            webAccess[1] = $('#LogId').val();
            webAccess[2] = $('#password').val();
         //   webAccess[3] = confirmPassword;
           
           
           console.log('======dataArray======');
           console.log(dataArray);
           console.log('=================');
           
           console.log('=======accessTmeArr=======');
           console.log(accessTmeArr);
           console.log('=================');
           
           console.log('=======webAccess=======');
           console.log(webAccess);
           console.log('=================');
           
//            gekIdArr[0]=1430;
            
//            alert(gekIdArr);
            console.log("Pass this together : " + dataArray[0]);
            
            OperationDwr.saveStaffInfo(dataArray, gekIdArr, tamIdArr, fpLRArr, photo, smsFlag, accessTmeArr, webAccess, function () {
                
                console.log("---------dataArray-------------");
                console.log(dataArray);
                console.log("-----------gekIdArr-----------");
                console.log(gekIdArr);
                console.log("----------tamIdArr------------");
                console.log(tamIdArr);
                console.log("----------fpLRArr------------");
                console.log(fpLRArr);
                console.log("----------photo------------");
                console.log(photo);
                console.log("-----------smsFlag-----------");
                console.log(smsFlag);
                console.log("----------accessTmeArr------------");
                console.log(accessTmeArr);
                console.log("---------webAccess-------------");
                console.log(webAccess);
                
                alert("Save Successfully");
                
                 location.href = '../operations/userMgmtTable.html';
//                 
//                reSetInfo();
                

            });
            
//            OperationDwr.getTest(function () {
//                alert("Save Successfully");
//             //   reSetInfo();
       //     });

        }
        
//         function changePassword()
//                {
//                     var newPassword=$("#newPassword").val();
//                     var confirmPassword=$("#confirmPassword").val();
//
//                     if(newPassword!=confirmPassword)
//                     {    
//                        alert("Your password and confirmation password do not match.\n Please try again.")
//                        return;   
//                     }   
//
//
//
//                      OperationDwr.changePassword(newPassword, function (data) {
//                       if(data==1)
//                        alert("Password change Successfully");
//                       else
//                        alert("Password change Unsuccessfully");   
//
//                    });
//
//                }
//        
        
     /*   function reSetInfo()
                            {

                                $('#idNumber').val('');
                                $('#fname').val('');
                                $('#lname').val('');
                                $('#mobileNum').val('');
                                $('#email').val('');
                                $('#StartDate').val('');
                                $('#EndDate').val('');
                                $('#pinNumber').val('');
                                //rdoGender
                                $("#nationality").val('0');
                                $("#org").val('0');
                                $('#txtDob').val('');
                                $('#mb').val('');
                                gekAgArray = [];
                                tamAgIdArray = [];
                                localStorage.clear();
                                lr = "";
                                fpTemp = "";
                                fpImg = "";
                                timeOut = "";
                                $("#gekAccessGrpList").html("");
                                $("#tamAccessGrpList").html("");

                                $("#lfp").attr("src", "");
                                $("#rfp").attr("src", "");

                                $('#date-end-gek').val('');
                                $('#date-end-tam').val('');
//                                $('#gek24').prop('checked', false);
//                                $('#tam24').prop('checked', false);
                                $('#gek24').prop('checked', true);
                                $('#tam24').prop('checked', true);
                                $("#photoImg").attr("src", "");


                                $('#staffId').val('');
                                $('#personId').val('');
                                $("#photoImg").attr("src", "");

                                $('#userTypeId').val('');
                                $('#userId').val('');
                                $('#newPassword').val('');
                                $('#confirmPassword').val('');
                                $('#disableLogin').prop('checked', false);



                            } */
                            
           var theSelectedId = $('#staffId').val();
           console.log("--------ID SELECTED----------");
           console.log(theSelectedId);
           console.log("--------ID SELECTED----------");
           
    
        /*]]>*/
    </script>

    <!-- end script -->
</body>

</html>
